In [1]:
import pandas as pd
import numpy as np

#  Create a Series in Pandas

In [2]:

X=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(X)

a    1
b    2
c    3
d    4
dtype: int64

# Create a Python Dictionary with name and age of people

In [3]:
age_data= {"name": ['Bene','Dict','Cumberbatch'],"age": [40,30,35]}
print(age_data)

{'name': ['Bene', 'Dict', 'Cumberbatch'], 'age': [40, 30, 35]}

# Create a Data Frame in Pandas

In [5]:
df=pd.DataFrame(data=age_data, columns= ["name","age"])
print(df)

          name  age
0         Bene   40
1         Dict   30
2  Cumberbatch   35

# Get the data at any Row

In [7]:
print(df.iloc[2,:])

name    Cumberbatch
age              35
Name: 2, dtype: object

# Get the data at any Column

In [10]:
print(df.iloc[:,0])

0           Bene
1           Dict
2    Cumberbatch
Name: name, dtype: object

In [12]:
print(df.iloc[:,1])

0    40
1    30
2    35
Name: age, dtype: int64

# Get the data at 3rd row and 1st Column

In [13]:
print(df.iloc[2,1])

35

# Add a new Column in Data Frame with same values for all rows

In [16]:
df['Gender'] ="Male"
print(df)

          name  age Gender
0         Bene   40   Male
1         Dict   30   Male
2  Cumberbatch   35   Male

# Get the data of "age" Column

In [18]:
print(df["age"])

0    40
1    30
2    35
Name: age, dtype: int64

# Get all the Column names of the Data Frame

In [20]:
print(df.columns)

Index(['name', 'age', 'Gender'], dtype='object')

# Get Size of Data Frame

In [23]:
print(df.shape)

(3, 3)

# Get Number of Rows of Data Frame

In [25]:
print(df.shape[0])

3

# Get Number of Columns of Data Frame

In [26]:
print(df.shape[1])

3

# Sort data Frame by one specific column

In [27]:
print(df.sort_values(by='age'))

          name  age Gender
1         Dict   30   Male
2  Cumberbatch   35   Male
0         Bene   40   Male

In [29]:
df['Salary'] =[10000,20000,25000]
print(df)

          name  age Gender  Salary
0         Bene   40   Male   10000
1         Dict   30   Male   20000
2  Cumberbatch   35   Male   25000

# Sort data Frame by multiple specific columns

In [36]:
print(df.sort_values(by=['Salary','age']))

          name  age Gender  Salary
0         Bene   40   Male   10000
1         Dict   30   Male   20000
2  Cumberbatch   35   Male   25000

# Sort data Frame by index

In [38]:
print(df.sort_index())

          name  age Gender  Salary
0         Bene   40   Male   10000
1         Dict   30   Male   20000
2  Cumberbatch   35   Male   25000

# Get first row of Data Frame

In [39]:
print(df[0:1])

   name  age Gender  Salary
0  Bene   40   Male   10000

# Get last row of Data Frame

In [40]:
print(df[-1:])

          name  age Gender  Salary
2  Cumberbatch   35   Male   25000